*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
    margin: 0;
    margin-right: auto;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.h1 {
    font-size: 40px;
    font-weight: bold;
}

.section {
    color:rgb(63, 146, 146);
}

.section:hover {
    
}

.btn {
    display: flex;
    width: 100%;
    text-align: left;
    border: none;
    background-color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 0;
    border-top: 1px solid red;
    transition: .2s;
}

.plus {
    text-align: right;
    display: none;
}

.container {
    margin: 0 220px;
    max-width: 1920px;
}

.container:hover .plus {
    display: block;
}

.section__image {
    display: none;
    cursor: pointer;
}

.input-radio {
    position: absolute;
    top: 999999px;
}

.input-radio:checked + .section__image {
    display: block;
}

.img {
    width: 100%;
}

.btn:hover .plus {
    transform: rotate(45deg);
    transition: transform 0.2s;
}

.section:hover {
    color:black;
}

.section:hover .section__image {
    display: block;
}


.section__image:hover {
    display: block;
    transition: all .2s;
}

.btn:active {
    color:rgb(63, 146, 146);
    
}

